In [ ]:
x=10
x-=2
print(x)


x*=5
print(x)




x//=3
print(x)

x**=2
print(x)

x%=4
print(x)

x+=9
print(x)

x/=3
print(x)

8
40
13
169
1
10
3.3333333333333335

In [ ]:
print("hello world")

hello world

In [ ]:
print("good morning")

good morning

In [ ]:
print("b k collage chikkodi")

b k collage chikkodi

In [ ]:
print("s s m s pu collage athani")

s s m s pu collage athani

In [ ]:
print("abhishek")

abhishek

In [ ]:
print("5+5")

5+5

In [ ]:
a=10
print(a)

10

In [ ]:
a,b,c="Hi","mahantesh","good morning"
print(a,b,c)

Hi mahantesh good morning

In [ ]:
a,b,c="good","morning",18
print(a,b,c)

good morning 18

In [ ]:
A=B, c="collage",25
print(B,c,A)

collage 25 ('collage', 25)

In [ ]:
A=10
B=20
print("addition of", A,"and" , B, "is= ",A+B )

addition of 10 and 20 is=  30

In [ ]:
print(2+3)

5

In [ ]:
value=0
print(type(value))

<class 'int'>

In [ ]:
value=-9
print(type(value))

<class 'int'>

In [ ]:
number=100001
print(type(number))

<class 'int'>

In [ ]:
name=-100.33
print(type(name))

<class 'float'>

In [ ]:
yes=True
print(type(yes))

<class 'bool'>

In [ ]:
yes=18
print(type(yes))

<class 'int'>

In [ ]:
value=27.33
print(type(value))

<class 'float'>

In [ ]:
section=c
print(type(section))

<class 'int'>

In [ ]:
section='''c'''
print(type(section))

<class 'str'>

In [ ]:
first="bkc"
second="collage"
print((first+second))

bkccollage

In [ ]:
A=10
B=20
print(A+B)

30

In [ ]:
print("hello world)")

hello world)

In [ ]:
print(100/3)

33.333333333333336

In [ ]:
print("phyton   programming langauage\n " *10)

phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage
 phyton   programming langauage

In [ ]:
 print("Hello"+"world")

Helloworld

In [ ]:
print("good morning\n " *10)

good morning
 good morning
 good morning
 good morning
 good morning
 good morning
 good morning
 good morning
 good morning
 good morning

In [ ]:
name="mahantesh"
print(name)

mahantesh

In [ ]:

print("kannada    30")
print("ic         25")
print("account    25")
print("dbms       24")
print("cprogram   20")
print("english     23")

kannada    30
ic         25
account    25
dbms       24
cprogram   20
english     23

In [ ]:
Age=25
age=32
print(age,Age)

32 25

In [ ]:
yes=True
print(yes)

True

In [ ]:
NA_12_Me="chikkodi"
print(NA_12_Me)

chikkodi

In [ ]:
name="mahantesh"
per=76
print(name,per)

mahantesh 76

In [ ]:
name="Mahantesh "
age=19
print(name,age)

Mahantesh  19

In [ ]:
collage="bkc collage"
Name="anand"
print("my name is","i'm studying", collage)

my name is i'm studying bkc collage

In [ ]:
text="mahantesh"
address="I'm from chikkodi"
print("hello",text,"how are you i am fine where are you from",address)

hello mahantesh how are you i am fine where are you from I'm from chikkodi

In [ ]:
print("good morning")

good morning

In [ ]:
first="BKC"
second="collage"
print( ( ( first +"  " +second)+"\n")*5)

BKC  collage
BKC  collage
BKC  collage
BKC  collage
BKC  collage

In [ ]:
name="python programming Languages"
print(name[5])
print(name[-2])
print(name[3:14])
print(name[:20])
print(name[6:])
print(name[:-1])
print(name[-22:-4])
print(name[::1])
print(name[::-1])
print(name[::-3])

n
e
hon program
python programming L
 programming Languages
python programming Language
 programming Langu
python programming Languages
segaugnaL gnimmargorp nohtyp
san iao hp

In [ ]:

print(type(list1))
print(list1)
list1.append("mahantesh")
print.(list1

SyntaxError: invalid syntax (ipython-input-3249972861.py, line 4)

In [ ]:
details=[101]
print(type[details])
details.append(85.12)
print(details)
details.append("mahantesh")
print(details)
details.append(-99)
print(details)
details.append( "bkc collage")
print(details)
details.append(99)
print(details)
details[3]=99
print(details)
print(details[2:4])
details.insert(2,False)
print(details)
details.remove(False)
print(details)
print(details[4])
print(details)
print(details[::-1])
print(details.count(101))
print(details.clear())
print(details)
print(type(details))

In [ ]:
information=[105]
print(information)
print( type(information))
information.append(25.12)
print(information)
information.append("mahantesh")
print(information)
information.append(-99)
print(information)
information.append("bkc collage")
print(information)
information.append(99)
print(information)
information[3]=99
print(information)
print(information[2:4])
information.insert(2,False)
print(information)
information.remove(False)
print(information)
print(information[4])
print(information)
print(information[::-1])
print(information.count(105))
print(information.clear())
print(information)
print(type(information))

[105]
<class 'list'>
[105, 25.12]
[105, 25.12, 'mahantesh']
[105, 25.12, 'mahantesh', -99]
[105, 25.12, 'mahantesh', -99, 'bkc collage']
[105, 25.12, 'mahantesh', -99, 'bkc collage', 99]
[105, 25.12, 'mahantesh', 99, 'bkc collage', 99]
['mahantesh', 99]
[105, 25.12, False, 'mahantesh', 99, 'bkc collage', 99]
[105, 25.12, 'mahantesh', 99, 'bkc collage', 99]
bkc collage
[105, 25.12, 'mahantesh', 99, 'bkc collage', 99]
[99, 'bkc collage', 99, 'mahantesh', 25.12, 105]
1
None
[]
<class 'list'>

In [ ]:
# adress=2010
print(3+3)

6

In [ ]:
example=(1,"sharath",3.12,False,1)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[4])
print(example[-1])
print(example[::-1])

(1, 'sharath', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'sharath', 3.12)
1
1
(1, False, 3.12, 'sharath', 1)

In [ ]:
number=(2,4,7,9,3,9,3,2)
print(number)
Add=(2,4,5,7)
print(number+Add)
print((Add)*4)
print((Add))

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)
(2, 4, 5, 7)

In [ ]:
ex={1,1,2,3,3,4,5,5}
print(ex)
print(type(ex))
print(len(ex))
ex.add(10)
print(ex)
ex.add("bkc")

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}

In [ ]:
Ex={1,2,3,4,5,6,7}
print(Ex)
print(type(Ex))
print(len(Ex))
Ex.add("bkc")
print(Ex)
Ex.add(5.67)
print(Ex)
Ex.add("true")
print(Ex)
Ex.remove(4)
print(Ex)
print(Ex.pop())
print(Ex)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'bkc'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'bkc'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'true', 'bkc'}
{1, 2, 3, 5, 6, 7, 5.67, 'true', 'bkc'}
1
{2, 3, 5, 6, 7, 5.67, 'true', 'bkc'}

In [ ]:
first={1,2,3,4,4,2}
second={3,4,5,6}
print(first | second)
print(first.union(second))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
print(first & second)
print(first.intersection(second))
print(first.difference(second))

print(second-first)
print(second.difference(first))

{3, 4}
{3, 4}
{1, 2}
{5, 6}
{5, 6}

In [ ]:
Dict={"Roll_number" : 201,
     "Name"         :"mahantesh",
     "Adress"       :"Athani",
      "CGPA"        :7.63,
      "Course"      :"BCA",
      "Year"        :2025,

}
print(Dict)
Dict["Gender"]="Male"
print(Dict)
Dict["Mobile_No"]: 9886449784
print(Dict)
Dict["collage"]=" s s m s collage athani"
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 201, 'Name': 'mahantesh', 'Adress': 'Athani', 'CGPA': 7.63, 'Course': 'BCA', 'Year': 2025}
{'Roll_number': 201, 'Name': 'mahantesh', 'Adress': 'Athani', 'CGPA': 7.63, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'mahantesh', 'Adress': 'Athani', 'CGPA': 7.63, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Male'}
dict_keys(['Roll_number', 'Name', 'Adress', 'CGPA', 'Course', 'Year', 'Gender', 'collage'])
dict_values([201, 'mahantesh', 'Athani', 7.63, 'BCA', 2025, 'Male', ' s s m s collage athani'])
dict_items([('Roll_number', 201), ('Name', 'mahantesh'), ('Adress', 'Athani'), ('CGPA', 7.63), ('Course', 'BCA'), ('Year', 2025), ('Gender', 'Male'), ('collage', ' s s m s collage athani')])
None

In [ ]:
Employe={"Employe_id=1001"
     "Employe_Name"         :"Mahantesh Sondakar",
     "Employe_Adress"       :"Athani",
     "Employe_salary"      :200000000,
     "Employe_Company"     :"Apple",
     "Employe_Experience"  :" 3 Years",
     "Employe_No"          :9535180854,
     "Employe email_id"    :"MahanteshSondakar@gmail.com"

}
print(Employe)
print(type(Employe))
print(len(Employe))
Employe["Gender"]="Male"
print(Employe)
print(len(Employe))
print(Employe.keys())
print(Employe.values())
print(Employe.items())
print(Employe.clear())

{'Employe_id=1001Employe_Name': 'Mahantesh Sondakar', 'Employe_Adress': 'Athani', 'Employe_salary': 200000000, 'Employe_Company': 'Apple', 'Employe_Experience': ' 3 Years', 'Employe_No': 9535180854, 'Employe email_id': 'MahanteshSondakar@gmail.com'}
<class 'dict'>
7
{'Employe_id=1001Employe_Name': 'Mahantesh Sondakar', 'Employe_Adress': 'Athani', 'Employe_salary': 200000000, 'Employe_Company': 'Apple', 'Employe_Experience': ' 3 Years', 'Employe_No': 9535180854, 'Employe email_id': 'MahanteshSondakar@gmail.com', 'Gender': 'Male'}
8
dict_keys(['Employe_id=1001Employe_Name', 'Employe_Adress', 'Employe_salary', 'Employe_Company', 'Employe_Experience', 'Employe_No', 'Employe email_id', 'Gender'])
dict_values(['Mahantesh Sondakar', 'Athani', 200000000, 'Apple', ' 3 Years', 9535180854, 'MahanteshSondakar@gmail.com', 'Male'])
dict_items([('Employe_id=1001Employe_Name', 'Mahantesh Sondakar'), ('Employe_Adress', 'Athani'), ('Employe_salary', 200000000), ('Employe_Company', 'Apple'), ('Employe_Experience', ' 3 Years'), ('Employe_No', 9535180854), ('Employe email_id', 'MahanteshSondakar@gmail.com'), ('Gender', 'Male')])
None

In [ ]:
Name={"Name" :"abhishek",
 "name" :"abhishek",
   "F_name":"abhishek",
    "l_name":"abhishek",
}
print(name)

python programming Languages

In [ ]:
name="mahantesh"
course="bca"
year=2025
collage="KLE bk collage CHIKKODI"
pincode=584128,"ABHISHEK"
print(f'My name is {name},i have completed puc in the year of{year},curently studying in {collage},{pincode}, {course}')

My name is mahantesh,i have completed puc in the year of2025,curently studying in KLE bk collage CHIKKODI,(584128, 'ABHISHEK'), bca

In [ ]:
print("HELLO WORLD")

HELLO WORLD

In [ ]:
d=int(input("value of d is"))
S=int(input("value of S is"))

print("the value of d and s", d +2 )

print("the value of d and s", d -2 )

print("the value of d and s", d *2 )

print("the value of d and s", d /2 )

print("the value of d and s", d //2 )

print("the value of d and s", d   %2 )

value of d is10
value of S is2
the value of d and s 12
the value of d and s 8
the value of d and s 20
the value of d and s 5.0
the value of d and s 5
the value of d and s 0

In [ ]:


number1=35
number2=40
print(number1 > number2)
print(number2 < number1)
print(number1 == 35)
print(number1 <= number2)
print(number2 != 40)
print( 10!= 20)
print(number2>= 40)
print(number1 !=number2)

False
False
True
True
False
True
True
True

In [ ]:
a=20
b=35
c=13
d=10
print(a==b and c<d)
print(13!=c and d<c)
print(b>a and d<c)
print(20 !=a and c==b)
print(a<b or d==c)
print((not(a<b))and 100<200)
print(not(d==10))
print(35!=d or (not(20==a)))
print(not(c <= b and (not(a <=c))))

False
False
True
False
True
False
False
True
False

In [ ]:
csdafs

In [ ]:
x=5**3
print(x)

125

In [15]:
Num=9
if Num < 10 :
   print("10 is a grater than 9")


Ex=59
if Ex==59:
    print("Are you understand")

10 is a grater than 9
Are you understand

In [54]:
Num=int(input("Enter leap:"))
if Num % 4 == 0:
  print("leap")
else:
 print("not leap")

Enter year:2036
leap

In [36]:
A=29*49
print(A)

1421

In [45]:
A=2026/4
print(A)

506.5

In [69]:
age=int(input("Enter  the age:"))
if age >=18 :
  print("They are eligible for voting")
else:
  print("They have to wait")

Enter  the age:18
They are eligible for voting

In [87]:
percentage=int(input("Enter the percentage"))
if percentage>=85 :
  print("Distinction")
elif percentage>=75:
   print("first class")
elif percentage>=65:
   print("second class")
else:

  print("Fail")

Enter the percentage65
second class

In [100]:
prize=int(input("Enter the Medel prize "))
if prize==1 :
   print("Gold Medel")
elif prize==2 :
   print("silver Medel")
elif prize==3 :
   print("Bronze Medel")
elif prize==4:

   print("GO to home")

Enter the Medel prize 4
GO to home

In [109]:
Signal=input("Enter the Light")
if   Signal=="Red ":
  print("Stop vehicles")
elif Signal=="Yellow":
  print("Ready to go")
elif Signal=="Green":
  print("you can go now")
else:
  print("Wrong colour")

Enter the LightYellow
Ready to go