In [ ]:
Signal=input("Enter the Light")
if   Signal=="Red ":
  print("Stop vehicles")
elif Signal=="Yellow":
  print("Ready to go")
elif Signal=="Green":
  print("you can go now")
else:
  print("Wrong colour")

Enter the LightYellow
Ready to go

In [ ]:
a,b,c=25,35,15,
if a>b :
    if a > c :
         print("a is largest number")
    else :
          print("c is largest number")
else :
      if b>c :
         print("b is largest number")
      else :
          print("c is largest number")

b is largest number

In [ ]:
Num=int(input("enter the value"))
if Num>=0 :
   if Num==0 :
       print("zero value")
   else :
        print("positive number ")
else :
        print("zero value")

enter the value0
zero value

In [ ]:
a,b,c=100,85,99
if a< b :
    if a < c :
         print("a is smallest number")
    else :
          print("c is smallest number")
else :
      if b<c :
         print("b is smallest number")
      else :
          print("c is smallest number")

b is smallest number

In [ ]:

x, y=10,20
option=input("Enter your choice option:")
match option :
            case '+' :
                print("sum of values", x+y)
            case '-' :
                 print ("substraction of values",x-y)
            case '*' :
                print("multiplication of values", x*y)
            case '/' :
                print("division of values", x/y)
            case '%' :
                print("modulusof values", x%y)
            case   ' _':
                print("invalid operator")
            case '!=':
                print("x is not equal to y", x != y)

Enter your choice option:/
division of values 0.5

In [ ]:
day=int(input("Enter a day nuumber"))
match day:
      case 1 :print("monday")
      case 2 :print("tuesday")
      case 3:print("wednesday")
      case 4 :print("thursday")

Enter a day nuumber1
monday

In [ ]:
day=int(input("Enter a month  nuumber"))
match day:
      case 1 :print("january")
      case 2 :print("february")
      case 3:print("march")
      case 4 :print("april")
      case 5 :print("may")
      case 6 :print("june")
      case 7 :print("july")n
      case 8 :print("augest")
      case 9 :print("september")
      case 10 :print("octomber")
      case 11 :print("November")
      case 12 :print("december")

Enter a month  nuumber5
may

In [ ]:
i = 1
while i <= 60 :
  print(i,end=" ")
  i +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i=1
add=0
while i <= 10 :
      add=add+i
      i=i+1

print("sum of n natural number is :",add)

sum of n natural number is : 55

In [ ]:
num=5
i=1
while i<=10:
  print("5*",i,"=",num*i)
  i=i+1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
num=5
i=1
while i<=10:
  print("2500*",i,"=",num*i)
  i=i+1

2500* 1 = 2500
2500* 2 = 5000
2500* 3 = 7500
2500* 4 = 10000
2500* 5 = 12500
2500* 6 = 15000
2500* 7 = 17500
2500* 8 = 20000
2500* 9 = 22500
2500* 10 = 25000

In [ ]:
num=153
rem=0
sum=0
temp=num
while num>0 :
    rem=num % 10
    sum=sum + rem * rem * rem
    num=num // 10
if temp == sum :
    print("Armstrong number")
else:
    print("Not Armstrong number")

Armstrong number